/*
	_base.scss
	
	Base Scss file for compass compilation
	
	Created: David Anderson 2013-02-26
*/

/*===========================================*/

/* !IMPORTS */

/*===========================================*/

@import "bootstrap";
@import "bootstrap-theme";


/*===========================================*/

/* !COLOR DEFINITIONS */

/*===========================================*/
$primary-bar: #E27531;
$dark-bar: #303030;
$light-bar: #ECECEC;
$white-bar: #FFFFFF;

$light-text: #FFFFFF;
$dark-text: #2C2C2C;
$gray-text: #8E9799;



/*===========================================*/

/* !UTILS*/

/*===========================================*/

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}










