/*
	Rob Anderson
*/

@import "base";
@import url("https://fonts.googleapis.com/css?family=Playball");

/*===========================================*/

/* !GENERAL PAGE */

/*===========================================*/

html {
    body {
        font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

strong {
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}
a:hover {
}

h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}

h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration: none;
}

.background-image {
    background-image: url(../images/background-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/**
 * ================= Menu Bar ================= *
 */
#menu-main {
    img {
        float: left;
        width: 100%;
    }
    ul {
        padding: 0px 0px 0px 10px;
        margin: 0px;

        li {
            float: left;
            list-style-type: none;
            padding: 0px;
            margin: 0px;

            a {
                font-weight: bold;
                font-size: 20px;
                padding: 20px 30px;
                display: block;
                color: $light-text;
            }
        }
    }
}

#description-text {
    .quote {
        font-family: "Playball", cursive;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.1em;
        color: #888;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .quote::before,
    .quote::after {
        content: '"';
    }

    position: relative;
    left: 15px;

    padding-left: 30px;
}

#info-main {
    padding-top: 20px;
    padding-bottom: 10px;

    img {
        width: 100%;
    }
    #info-description {
        font-size: 14px;
    }
    #info-contact {
        p {
            text-align: right;
            font-weight: bold;
        }
        #contact-number {
            font-size: 42px;
            padding-top: 20px;
        }
        #contact-email {
            font-size: 16px;
            padding-top: 10px;
        }
    }
}
.slogan {
    padding-left: 0px;
    padding-top: 12px;

    font-size: 20px;
}

/**
 * ================= No Mobile ================= *
 */
@media screen and (max-width: 1024px) {
    .no-mobile {
        display: none;
    }
}

/**
 * ================= Contact Panel ================= *
 */
.contact-panel {
    height: 100%;

    .success {
        color: $light-text;
    }
}
.contact-us {
    padding: 20px;
    color: $light-text;

    h3 {
        margin-top: 0px;
    }
    .error {
        color: $dark-text;
    }
    input {
        margin-top: 10px;
    }
    textarea {
        height: 80px;
        margin-top: 10px;
    }
    .submit-button {
        width: 50%;
        float: right;
    }
}

/**
 * ================= Testimonies ================= *
 */
.testimony {
    padding: 20px 0px;

    .testimony-icon {
        img {
            padding: 10px;
        }
    }

    .testimony-content {
        padding-left: 40px;

        .testimony-message {
            font-style: italic;
            color: $gray-text;

            p:before {
                content: '"';
            }
            p:after {
                content: '"';
            }
        }
    }
}

/**
 * ================= Footer Section ================= *
 */
#footer-main {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: $light-text;
    p {
        color: $light-text;
    }
}

/** 
 * ================= Contact Page ================= *
 */
#map-widget {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #ccc;
}
.contact-info {
    padding-left: 40px;
}

/** 
 * ================= Service Things ================= *
 */
.service-item {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: #333333;
    }

    h2.service-title {
        margin: 0px;
        padding: 0px 0px 15px;
    }
    .service-image {
        img {
            width: 100%;
            height: auto;
        }
    }
    .service-content {
        .service-description {
            padding-bottom: 8px;
        }

        .service-gallery {
            .gallery-section-extra {
                display: none;
            }
            .gallery-section {
                .gallery-item {
                    a {
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        padding-bottom: 10px;

                        img {
                            padding: 4px;
                            border: 0px solid #ccc;
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
                            background: white;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            .show-more {
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}
/** 
 * ================= Projects Page ================= *
 */
.project-item {
    .project-title {
        padding-left: 20px;
    }

    padding: 10px 30px 30px 30px;

    border-bottom: 1px solid #ccc;
}

/** 
 * ================= Industry Logo ================= *
 */
.all-industry-logos {
    padding-left: 30px;
    padding-right: 30px;

    position: relative;
    left: 15px;

    .industry-logo {
        padding: 20px 20px 20px 0px;
    }
}

/** 
 * ================= Gallery Page ================= *
 */
.gallery {
    padding-bottom: 20px;
    padding-top: 20px;

    .gallery-item {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 190px;
    }
}

/** 
 * ================= Bar Colourings ================= *
 */
.orange-bar {
    background-color: $primary-bar;
}
.dark-bar {
    background-color: $dark-bar;
}
.light-bar {
    background-color: $light-bar;
}
.white-bar {
    background-color: $white-bar;
}

/**
 * ================= Text Colouring ================= *
 */
.light-text {
    color: $light-text;
}
.dark-text {
    color: $dark-text;
}
.gray-text {
    color: $gray-text;
}
